.fdrag-box {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
    min-height: 34px;
}

.fdrag-box > .fdrag-control {
    display: none;
    border-bottom-left-radius: 5px;
}

.fdrag-edit-mode .fdrag-control {
    display: flex;
    flex: 1 0 100%;
    justify-content: flex-end;
    pointer-events: none;
}

.fdrag-box > .fdrag-control > * {
    display: block;
    margin: 2px;
    padding: 4px;
    background-color: lightgray;
    cursor: pointer;
    border-radius: 5px;
    pointer-events: initial;
}

.fdrag-box > .fdrag-control > *:hover {
    box-shadow: inset -6px -6px 9px 0px #00000024;
}

.fdrag-box > .fdrag-control > *:active {
    transform: scale(0.96);
    box-shadow: inset 6px 6px 9px 0px #00000024;
}

:root {
    --svg-cog: url("./../images/svg/cog.svg");
    --svg-move: url("./../images/svg/move.svg");
}

.svg {
    background-color: black;
    width: 20px;
    height: 20px;
}

.svg-cog {
    mask: var(--svg-cog) no-repeat center / contain;
    -webkit-mask: var(--svg-cog) no-repeat center / contain;
}

.svg-move {
    mask: var(--svg-move) no-repeat center / contain;
    -webkit-mask: var(--svg-move) no-repeat center / contain;
    cursor: move;
}

#canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
